.bottom-0,
.inset-0 {
    bottom: 0
}

.truncate,
.whitespace-nowrap {
    white-space: nowrap
}

.text-black,
.text-gray-500,
.text-gray-900,
.text-white {
    --tw-text-opacity: 1
}

.invisible {
    visibility: hidden
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    top: 0;
    right: 0;
    left: 0
}

.top-0 {
    top: 0
}

.top-5 {
    top: 1.25rem
}

.top-8 {
    top: 2rem
}

.top-10 {
    top: 2.5rem
}

.top-12 {
    top: 3rem
}

.top-14 {
    top: 3.5rem
}

.top-16 {
    top: 4rem
}

.top-28 {
    top: 7rem
}

.-top-3 {
    top: -.75rem
}

.-top-4 {
    top: -1rem
}

.-top-16 {
    top: -4rem
}

.top-full {
    top: 100%
}

.right-0 {
    right: 0
}

.right-1 {
    right: .25rem
}

.right-2 {
    right: .5rem
}

.right-3 {
    right: .75rem
}

.right-5 {
    right: 1.25rem
}

.right-8 {
    right: 2rem
}

.right-20 {
    right: 5rem
}

.-right-6 {
    right: -1.5rem
}

.-right-10 {
    right: -2.5rem
}

.bottom-2 {
    bottom: .5rem
}

.bottom-3 {
    bottom: .75rem
}

.bottom-7 {
    bottom: 1.75rem
}

.bottom-8 {
    bottom: 2rem
}

.bottom-10 {
    bottom: 2.5rem
}

.bottom-12 {
    bottom: 3rem
}

.bottom-14 {
    bottom: 3.5rem
}

.bottom-20 {
    bottom: 5rem
}

.-bottom-2 {
    bottom: -.5rem
}

.-bottom-12 {
    bottom: -3rem
}

.-bottom-2\.5 {
    bottom: -.625rem
}

.left-0 {
    left: 0
}

.left-3 {
    left: .75rem
}

.left-10 {
    left: 2.5rem
}

.-left-4 {
    left: -1rem
}

.-left-6 {
    left: -1.5rem
}

.-left-10 {
    left: -2.5rem
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.col-span-1 {
    grid-column: span 1/span 1
}

.clear-both {
    clear: both
}

.m-0 {
    margin: 0
}

.m-3 {
    margin: .75rem
}

.m-5 {
    margin: 1.25rem
}

.m-8 {
    margin: 2rem
}

.m-auto {
    margin: auto
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mx-1\.5 {
    margin-left: .375rem;
    margin-right: .375rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.mt-0 {
    margin-top: 0
}

.mt-1 {
    margin-top: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-7 {
    margin-top: 1.75rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-14 {
    margin-top: 3.5rem
}

.mt-16 {
    margin-top: 4rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-24 {
    margin-top: 6rem
}

.mt-28 {
    margin-top: 7rem
}

.mt-0\.5 {
    margin-top: .125rem
}

.mt-2\.5 {
    margin-top: .625rem
}

.mr-1 {
    margin-right: .25rem
}

.mr-2 {
    margin-right: .5rem
}

.mr-4 {
    margin-right: 1rem
}

.mr-5 {
    margin-right: 1.25rem
}

.mr-6 {
    margin-right: 1.5rem
}

.mr-7 {
    margin-right: 1.75rem
}

.mr-8 {
    margin-right: 2rem
}

.mr-10 {
    margin-right: 2.5rem
}

.mr-12 {
    margin-right: 3rem
}

.mr-16 {
    margin-right: 4rem
}

.mr-3\.5 {
    margin-right: .875rem
}

.mb-0 {
    margin-bottom: 0
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-7 {
    margin-bottom: 1.75rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-14 {
    margin-bottom: 3.5rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-24 {
    margin-bottom: 6rem
}

.mb-28 {
    margin-bottom: 7rem
}

.mb-32 {
    margin-bottom: 8rem
}

.mb-80 {
    margin-bottom: 20rem
}

.mb-0\.5 {
    margin-bottom: .125rem
}

.ml-0 {
    margin-left: 0
}

.ml-1 {
    margin-left: .25rem
}

.ml-2 {
    margin-left: .5rem
}

.ml-3 {
    margin-left: .75rem
}

.ml-4 {
    margin-left: 1rem
}

.ml-5 {
    margin-left: 1.25rem
}

.ml-6 {
    margin-left: 1.5rem
}

.ml-7 {
    margin-left: 1.75rem
}

.ml-8 {
    margin-left: 2rem
}

.ml-10 {
    margin-left: 2.5rem
}

.ml-16 {
    margin-left: 4rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-1 {
    height: .25rem
}

.h-2 {
    height: .5rem
}

.h-3 {
    height: .75rem
}

.h-4 {
    height: 1rem
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-7 {
    height: 1.75rem
}

.h-8 {
    height: 2rem
}

.h-10 {
    height: 2.5rem
}

.h-11 {
    height: 2.75rem
}

.h-12 {
    height: 3rem
}

.h-14 {
    height: 3.5rem
}

.h-16 {
    height: 4rem
}

.h-20 {
    height: 5rem
}

.h-24 {
    height: 6rem
}

.h-28 {
    height: 7rem
}

.h-32 {
    height: 8rem
}

.h-36 {
    height: 9rem
}

.h-40 {
    height: 10rem
}

.h-44 {
    height: 11rem
}

.h-48 {
    height: 12rem
}

.h-52 {
    height: 13rem
}

.h-60 {
    height: 15rem
}

.h-64 {
    height: 16rem
}

.h-72 {
    height: 18rem
}

.h-80 {
    height: 20rem
}

.h-96 {
    height: 24rem
}

.h-auto {
    height: auto
}

.h-1\.5 {
    height: .375rem
}

.h-3\.5 {
    height: .875rem
}

.h-1\/2 {
    height: 50%
}

.h-2\/3 {
    height: 66.666667%
}

.h-3\/4 {
    height: 75%
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.w-1 {
    width: .25rem
}

.w-2 {
    width: .5rem
}

.w-3 {
    width: .75rem
}

.w-4 {
    width: 1rem
}

.w-5 {
    width: 1.25rem
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-10 {
    width: 2.5rem
}

.w-11 {
    width: 2.75rem
}

.w-12 {
    width: 3rem
}

.w-14 {
    width: 3.5rem
}

.w-16 {
    width: 4rem
}

.w-20 {
    width: 5rem
}

.w-24 {
    width: 6rem
}

.w-28 {
    width: 7rem
}

.w-32 {
    width: 8rem
}

.w-36 {
    width: 9rem
}

.w-40 {
    width: 10rem
}

.w-44 {
    width: 11rem
}

.w-48 {
    width: 12rem
}

.w-52 {
    width: 13rem
}

.w-56 {
    width: 14rem
}

.w-60 {
    width: 15rem
}

.w-64 {
    width: 16rem
}

.w-72 {
    width: 18rem
}

.w-80 {
    width: 20rem
}

.w-96 {
    width: 24rem
}

.w-auto {
    width: auto
}

.w-1\.5 {
    width: .375rem
}

.w-3\.5 {
    width: .875rem
}

.w-1\/2,
.w-2\/4,
.w-6\/12 {
    width: 50%
}

.w-1\/3,
.w-4\/12 {
    width: 33.333333%
}

.w-3\/4,
.w-9\/12 {
    width: 75%
}

.w-3\/5 {
    width: 60%
}

.w-4\/5 {
    width: 80%
}

.w-3\/12 {
    width: 25%
}

.w-5\/12 {
    width: 41.666667%
}

.w-7\/12 {
    width: 58.333333%
}

.w-8\/12 {
    width: 66.666667%
}

.w-10\/12 {
    width: 83.333333%
}

.w-11\/12 {
    width: 91.666667%
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.w-max {
    width: max-content
}

.min-w-max {
    min-width: max-content
}

.max-w-sm {
    max-width: 24rem
}

.max-w-lg {
    max-width: 32rem
}

.max-w-screen-sm {
    max-width: 640px
}

.max-w-screen-lg {
    max-width: 1024px
}

.flex-shrink-0 {
    flex-shrink: 0
}

.origin-center {
    transform-origin: center
}

.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-180 {
    --tw-rotate: 180deg
}

.cursor-pointer {
    cursor: pointer
}

.auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr)
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.justify-evenly {
    justify-content: space-evenly
}

.justify-items-center {
    justify-items: center
}

.gap-4 {
    gap: 1rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-x-2 {
    column-gap: .5rem
}

.gap-y-9 {
    row-gap: 2.25rem
}

.self-center {
    align-self: center
}

.justify-self-center {
    justify-self: center
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-x-auto {
    overflow-x: auto
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis
}

.rounded-sm {
    border-radius: .125rem
}

.rounded {
    border-radius: .25rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-3xl {
    border-radius: 1.5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-t-xl {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem
}

.rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.rounded-r-md {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.rounded-l-lg {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.border-0 {
    border-width: 0
}

.border-2 {
    border-width: 2px
}

.border {
    border-width: 1px
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.object-contain {
    object-fit: contain
}

.object-cover {
    object-fit: cover
}

.p-0 {
    padding: 0
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-10 {
    padding: 2.5rem
}

.p-12 {
    padding: 3rem
}

.p-20 {
    padding: 5rem
}

.p-2\.5 {
    padding: .625rem
}

.p-3\.5 {
    padding: .875rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.px-24 {
    padding-left: 6rem;
    padding-right: 6rem
}

.px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.py-1\.5 {
    padding-top: .375rem;
    padding-bottom: .375rem
}

.py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.py-3\.5 {
    padding-top: .875rem;
    padding-bottom: .875rem
}

.pt-0 {
    padding-top: 0
}

.pt-1 {
    padding-top: .25rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-3 {
    padding-top: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pt-7 {
    padding-top: 1.75rem
}

.pt-8 {
    padding-top: 2rem
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-11 {
    padding-top: 2.75rem
}

.pt-12 {
    padding-top: 3rem
}

.pt-14 {
    padding-top: 3.5rem
}

.pt-28 {
    padding-top: 7rem
}

.pr-0 {
    padding-right: 0
}

.pr-2 {
    padding-right: .5rem
}

.pr-4 {
    padding-right: 1rem
}

.pr-10 {
    padding-right: 2.5rem
}

.pr-12 {
    padding-right: 3rem
}

.pr-16 {
    padding-right: 4rem
}

.pb-0 {
    padding-bottom: 0
}

.pb-1 {
    padding-bottom: .25rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-5 {
    padding-bottom: 1.25rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-7 {
    padding-bottom: 1.75rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.pb-12 {
    padding-bottom: 3rem
}

.pb-14 {
    padding-bottom: 3.5rem
}

.pb-16 {
    padding-bottom: 4rem
}

.pb-20 {
    padding-bottom: 5rem
}

.pb-24 {
    padding-bottom: 6rem
}

.pb-2\.5 {
    padding-bottom: .625rem
}

.pl-0 {
    padding-left: 0
}

.pl-2 {
    padding-left: .5rem
}

.pl-4 {
    padding-left: 1rem
}

.pl-10 {
    padding-left: 2.5rem
}

.pl-12 {
    padding-left: 3rem
}

.pl-16 {
    padding-left: 4rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.font-normal {
    font-weight: 400
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.font-extrabold {
    font-weight: 800
}

.italic {
    font-style: italic
}

.leading-4 {
    line-height: 1rem
}

.leading-5 {
    line-height: 1.25rem
}

.leading-6 {
    line-height: 1.5rem
}

.leading-8 {
    line-height: 2rem
}

.leading-none {
    line-height: 1
}

.text-black {
    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.text-white {
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.text-gray-500 {
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.text-gray-900 {
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.underline {
    text-decoration: underline
}

.no-underline {
    text-decoration: none
}

.shadow-none {
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-none {
    outline: transparent solid 2px;
    outline-offset: 2px
}

@media (min-width:768px) {
    .md\:absolute {
        position: absolute
    }

    .md\:right-0 {
        right: 0
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:ml-4 {
        margin-left: 1rem
    }

    .md\:h-9 {
        height: 2.25rem
    }

    .md\:h-12 {
        height: 3rem
    }

    .md\:w-9 {
        width: 2.25rem
    }

    .md\:w-12 {
        width: 3rem
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:justify-center {
        justify-content: center
    }

    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .md\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }
}

@media (min-width:1024px) {
    .lg\:static {
        position: static
    }

    .lg\:inset-auto {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto
    }

    .lg\:top-10 {
        top: 2.5rem
    }

    .lg\:top-20 {
        top: 5rem
    }

    .lg\:top-1\/4 {
        top: 25%
    }

    .lg\:right-10 {
        right: 2.5rem
    }

    .lg\:left-1\/4 {
        left: 25%
    }

    .lg\:m-auto {
        margin: auto
    }

    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .lg\:mx-auto {
        margin-left: auto;
        margin-right: auto
    }

    .lg\:my-4 {
        margin-top: 1rem;
        margin-bottom: 1rem
    }

    .lg\:mt-0 {
        margin-top: 0
    }

    .lg\:mt-4 {
        margin-top: 1rem
    }

    .lg\:mt-5 {
        margin-top: 1.25rem
    }

    .lg\:mt-6 {
        margin-top: 1.5rem
    }

    .lg\:mt-8 {
        margin-top: 2rem
    }

    .lg\:mt-10 {
        margin-top: 2.5rem
    }

    .lg\:mt-12 {
        margin-top: 3rem
    }

    .lg\:mt-14 {
        margin-top: 3.5rem
    }

    .lg\:mt-16 {
        margin-top: 4rem
    }

    .lg\:mt-20 {
        margin-top: 5rem
    }

    .lg\:mt-24 {
        margin-top: 6rem
    }

    .lg\:mt-32 {
        margin-top: 8rem
    }

    .lg\:mt-40 {
        margin-top: 10rem
    }

    .lg\:mr-6 {
        margin-right: 1.5rem
    }

    .lg\:mr-8 {
        margin-right: 2rem
    }

    .lg\:mr-10 {
        margin-right: 2.5rem
    }

    .lg\:mb-0 {
        margin-bottom: 0
    }

    .lg\:mb-1 {
        margin-bottom: .25rem
    }

    .lg\:mb-2 {
        margin-bottom: .5rem
    }

    .lg\:mb-4 {
        margin-bottom: 1rem
    }

    .lg\:mb-6 {
        margin-bottom: 1.5rem
    }

    .lg\:mb-8 {
        margin-bottom: 2rem
    }

    .lg\:mb-10 {
        margin-bottom: 2.5rem
    }

    .lg\:mb-16 {
        margin-bottom: 4rem
    }

    .lg\:mb-20 {
        margin-bottom: 5rem
    }

    .lg\:mb-24 {
        margin-bottom: 6rem
    }

    .lg\:mb-28 {
        margin-bottom: 7rem
    }

    .lg\:mb-32 {
        margin-bottom: 8rem
    }

    .lg\:-mb-1\.5 {
        margin-bottom: -.375rem
    }

    .lg\:ml-0 {
        margin-left: 0
    }

    .lg\:ml-2 {
        margin-left: .5rem
    }

    .lg\:ml-4 {
        margin-left: 1rem
    }

    .lg\:ml-7 {
        margin-left: 1.75rem
    }

    .lg\:ml-10 {
        margin-left: 2.5rem
    }

    .lg\:block {
        display: block
    }

    .lg\:inline {
        display: inline
    }

    .lg\:flex {
        display: flex
    }

    .lg\:grid {
        display: grid
    }

    .lg\:hidden {
        display: none
    }

    .lg\:h-10 {
        height: 2.5rem
    }

    .lg\:h-12 {
        height: 3rem
    }

    .lg\:h-16 {
        height: 4rem
    }

    .lg\:h-20 {
        height: 5rem
    }

    .lg\:h-80 {
        height: 20rem
    }

    .lg\:h-96 {
        height: 24rem
    }

    .lg\:h-auto {
        height: auto
    }

    .lg\:h-full {
        height: 100%
    }

    .lg\:h-screen {
        height: 100vh
    }

    .lg\:w-4 {
        width: 1rem
    }

    .lg\:w-8 {
        width: 2rem
    }

    .lg\:w-12 {
        width: 3rem
    }

    .lg\:w-16 {
        width: 4rem
    }

    .lg\:w-20 {
        width: 5rem
    }

    .lg\:w-24 {
        width: 6rem
    }

    .lg\:w-28 {
        width: 7rem
    }

    .lg\:w-32 {
        width: 8rem
    }

    .lg\:w-36 {
        width: 9rem
    }

    .lg\:w-40 {
        width: 10rem
    }

    .lg\:w-44 {
        width: 11rem
    }

    .lg\:w-48 {
        width: 12rem
    }

    .lg\:w-52 {
        width: 13rem
    }

    .lg\:w-56 {
        width: 14rem
    }

    .lg\:w-60 {
        width: 15rem
    }

    .lg\:w-64 {
        width: 16rem
    }

    .lg\:w-80 {
        width: 20rem
    }

    .lg\:w-96 {
        width: 24rem
    }

    .lg\:w-1\/2,
    .lg\:w-6\/12 {
        width: 50%
    }

    .lg\:w-1\/3 {
        width: 33.333333%
    }

    .lg\:w-1\/4,
    .lg\:w-3\/12 {
        width: 25%
    }

    .lg\:w-3\/4,
    .lg\:w-9\/12 {
        width: 75%
    }

    .lg\:w-3\/5 {
        width: 60%
    }

    .lg\:w-4\/5 {
        width: 80%
    }

    .lg\:w-5\/12 {
        width: 41.666667%
    }

    .lg\:w-7\/12 {
        width: 58.333333%
    }

    .lg\:w-8\/12 {
        width: 66.666667%
    }

    .lg\:w-11\/12 {
        width: 91.666667%
    }

    .lg\:w-full {
        width: 100%
    }

    .lg\:max-w-5xl {
        max-width: 64rem
    }

    .lg\:max-w-max {
        max-width: max-content
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:flex-row-reverse {
        flex-direction: row-reverse
    }

    .lg\:flex-col {
        flex-direction: column
    }

    .lg\:items-start {
        align-items: flex-start
    }

    .lg\:items-center {
        align-items: center
    }

    .lg\:items-stretch {
        align-items: stretch
    }

    .lg\:justify-start {
        justify-content: flex-start
    }

    .lg\:justify-end {
        justify-content: flex-end
    }

    .lg\:justify-center {
        justify-content: center
    }

    .lg\:justify-between {
        justify-content: space-between
    }

    .lg\:justify-around {
        justify-content: space-around
    }

    .lg\:gap-8 {
        gap: 2rem
    }

    .lg\:overflow-hidden {
        overflow: hidden
    }

    .lg\:rounded-l-none {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .lg\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
    }

    .lg\:p-0 {
        padding: 0
    }

    .lg\:p-3 {
        padding: .75rem
    }

    .lg\:p-4 {
        padding: 1rem
    }

    .lg\:p-5 {
        padding: 1.25rem
    }

    .lg\:p-12 {
        padding: 3rem
    }

    .lg\:p-24 {
        padding: 6rem
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }

    .lg\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .lg\:px-14 {
        padding-left: 3.5rem;
        padding-right: 3.5rem
    }

    .lg\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .lg\:px-36 {
        padding-left: 9rem;
        padding-right: 9rem
    }

    .lg\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

    .lg\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

    .lg\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

    .lg\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

    .lg\:py-12 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    .lg\:py-14 {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem
    }

    .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .lg\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .lg\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .lg\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem
    }

    .lg\:pt-6 {
        padding-top: 1.5rem
    }

    .lg\:pt-16 {
        padding-top: 4rem
    }

    .lg\:pt-20 {
        padding-top: 5rem
    }

    .lg\:pt-24 {
        padding-top: 6rem
    }

    .lg\:pt-28 {
        padding-top: 7rem
    }

    .lg\:pr-12 {
        padding-right: 3rem
    }

    .lg\:pb-0 {
        padding-bottom: 0
    }

    .lg\:pb-4 {
        padding-bottom: 1rem
    }

    .lg\:pb-8 {
        padding-bottom: 2rem
    }

    .lg\:pb-10 {
        padding-bottom: 2.5rem
    }

    .lg\:pb-20 {
        padding-bottom: 5rem
    }

    .lg\:pb-24 {
        padding-bottom: 6rem
    }

    .lg\:pl-8 {
        padding-left: 2rem
    }

    .lg\:pl-12 {
        padding-left: 3rem
    }

    .lg\:text-left {
        text-align: left
    }

    .lg\:text-center {
        text-align: center
    }

    .lg\:font-normal {
        font-weight: 400
    }
}

/* features page starts here */

.features .bottom-0,
.features .inset-0 {
    bottom: 0
}

.features .truncate,
.features .whitespace-nowrap {
    white-space: nowrap
}

.features .text-black,
.features .text-gray-500,
.features .text-gray-900,
.features .text-white {
    --tw-text-opacity: 1
}

.features .invisible {
    visibility: hidden
}

.features .fixed {
    position: fixed
}

.features .absolute {
    position: absolute
}

.features .relative {
    position: relative
}

.features .sticky {
    position: sticky
}

.features .inset-0 {
    top: 0;
    right: 0;
    left: 0
}

.features .top-0 {
    top: 0
}

.features .top-5 {
    top: 1.25rem
}

.features .top-8 {
    top: 2rem
}

.features .top-10 {
    top: 2.5rem
}

.features .top-12 {
    top: 3rem
}

.features .top-14 {
    top: 3.5rem
}

.features .top-16 {
    top: 4rem
}

.features .top-28 {
    top: 7rem
}

.features .-top-3 {
    top: -.75rem
}

.features .-top-4 {
    top: -1rem
}

.features .-top-16 {
    top: -4rem
}

.features .top-full {
    top: 100%
}

.features .right-0 {
    right: 0
}

.features .right-1 {
    right: .25rem
}

.features .right-2 {
    right: .5rem
}

.features .right-3 {
    right: .75rem
}

.features .right-5 {
    right: 1.25rem
}

.features .right-8 {
    right: 2rem
}

.features .right-20 {
    right: 5rem
}

.features .-right-6 {
    right: -1.5rem
}

.features .-right-10 {
    right: -2.5rem
}

.features .bottom-2 {
    bottom: .5rem
}

.features .bottom-3 {
    bottom: .75rem
}

.features .bottom-7 {
    bottom: 1.75rem
}

.features .bottom-8 {
    bottom: 2rem
}

.features .bottom-10 {
    bottom: 2.5rem
}

.features .bottom-12 {
    bottom: 3rem
}

.features .bottom-14 {
    bottom: 3.5rem
}

.features .bottom-20 {
    bottom: 5rem
}

.features .-bottom-2 {
    bottom: -.5rem
}

.features .-bottom-12 {
    bottom: -3rem
}

.features .-bottom-2\.5 {
    bottom: -.625rem
}

.features .left-0 {
    left: 0
}

.features .left-3 {
    left: .75rem
}

.features .left-10 {
    left: 2.5rem
}

.features .-left-4 {
    left: -1rem
}

.features .-left-6 {
    left: -1.5rem
}

.features .-left-10 {
    left: -2.5rem
}

.features .z-0 {
    z-index: 0
}

.features .z-10 {
    z-index: 10
}

.features .z-20 {
    z-index: 20
}

.features .z-30 {
    z-index: 30
}

.features .z-40 {
    z-index: 40
}

.features .z-50 {
    z-index: 50
}

.features .col-span-1 {
    grid-column: span 1/span 1
}

.features .clear-both {
    clear: both
}

.features .m-0 {
    margin: 0
}

.features .m-3 {
    margin: .75rem
}

.features .m-5 {
    margin: 1.25rem
}

.features .m-8 {
    margin: 2rem
}

.features .m-auto {
    margin: auto
}

.features .mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.features .mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.features .mx-auto {
    margin-left: auto;
    margin-right: auto
}

.features .mx-1\.5 {
    margin-left: .375rem;
    margin-right: .375rem
}

.features .my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.features .my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.features .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.features .my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.features .my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.features .my-auto {
    margin-top: auto;
    margin-bottom: auto
}

.features .mt-0 {
    margin-top: 0
}

.features .mt-1 {
    margin-top: .25rem
}

.features .mt-2 {
    margin-top: .5rem
}

.features .mt-3 {
    margin-top: .75rem
}

.features .mt-4 {
    margin-top: 1rem
}

.features .mt-5 {
    margin-top: 1.25rem
}

.features .mt-6 {
    margin-top: 1.5rem
}

.features .mt-7 {
    margin-top: 1.75rem
}

.features .mt-8 {
    margin-top: 2rem
}

.features .mt-10 {
    margin-top: 2.5rem
}

.features .mt-12 {
    margin-top: 3rem
}

.features .mt-14 {
    margin-top: 3.5rem
}

.features .mt-16 {
    margin-top: 4rem
}

.features .mt-20 {
    margin-top: 5rem
}

.features .mt-24 {
    margin-top: 6rem
}

.features .mt-28 {
    margin-top: 7rem
}

.features .mt-0\.5 {
    margin-top: .125rem
}

.features .mt-2\.5 {
    margin-top: .625rem
}

.features .mr-1 {
    margin-right: .25rem
}

.features .mr-2 {
    margin-right: .5rem
}

.features .mr-4 {
    margin-right: 1rem
}

.features .mr-5 {
    margin-right: 1.25rem
}

.features .mr-6 {
    margin-right: 1.5rem
}

.features .mr-7 {
    margin-right: 1.75rem
}

.features .mr-8 {
    margin-right: 2rem
}

.features .mr-10 {
    margin-right: 2.5rem
}

.features .mr-12 {
    margin-right: 3rem
}

.features .mr-16 {
    margin-right: 4rem
}

.features .mr-3\.5 {
    margin-right: .875rem
}

.features .mb-0 {
    margin-bottom: 0
}

.features .mb-2 {
    margin-bottom: .5rem
}

.features .mb-3 {
    margin-bottom: .75rem
}

.features .mb-4 {
    margin-bottom: 1rem
}

.features .mb-5 {
    margin-bottom: 1.25rem
}

.features .mb-6 {
    margin-bottom: 1.5rem
}

.features .mb-7 {
    margin-bottom: 1.75rem
}

.features .mb-8 {
    margin-bottom: 2rem
}

.features .mb-10 {
    margin-bottom: 2.5rem
}

.features .mb-12 {
    margin-bottom: 3rem
}

.features .mb-14 {
    margin-bottom: 3.5rem
}

.features .mb-16 {
    margin-bottom: 4rem
}

.features .mb-24 {
    margin-bottom: 6rem
}

.features .mb-28 {
    margin-bottom: 7rem
}

.features .mb-32 {
    margin-bottom: 8rem
}

.features .mb-80 {
    margin-bottom: 20rem
}

.features .mb-0\.5 {
    margin-bottom: .125rem
}

.features .ml-0 {
    margin-left: 0
}

.features .ml-1 {
    margin-left: .25rem
}

.features .ml-2 {
    margin-left: .5rem
}

.features .ml-3 {
    margin-left: .75rem
}

.features .ml-4 {
    margin-left: 1rem
}

.features .ml-5 {
    margin-left: 1.25rem
}

.features .ml-6 {
    margin-left: 1.5rem
}

.features .ml-7 {
    margin-left: 1.75rem
}

.features .ml-8 {
    margin-left: 2rem
}

.features .ml-10 {
    margin-left: 2.5rem
}

.features .ml-16 {
    margin-left: 4rem
}

.features .block {
    display: block
}

.features .inline-block {
    display: inline-block
}

.features .inline {
    display: inline
}

.features .flex {
    display: flex
}

.features .grid {
    display: grid
}

.features .hidden {
    display: none
}

.features .h-1 {
    height: .25rem
}

.features .h-2 {
    height: .5rem
}

.features .h-3 {
    height: .75rem
}

.features .h-4 {
    height: 1rem
}

.features .h-5 {
    height: 1.25rem
}

.features .h-6 {
    height: 1.5rem
}

.features .h-7 {
    height: 1.75rem
}

.features .h-8 {
    height: 2rem
}

.features .h-10 {
    height: 2.5rem
}

.features .h-11 {
    height: 2.75rem
}

.features .h-12 {
    height: 3rem
}

.features .h-14 {
    height: 3.5rem
}

.features .h-16 {
    height: 4rem
}

.features .h-20 {
    height: 5rem
}

.features .h-24 {
    height: 6rem
}

.features .h-28 {
    height: 7rem
}

.features .h-32 {
    height: 8rem
}

.features .h-36 {
    height: 9rem
}

.features .h-40 {
    height: 10rem
}

.features .h-44 {
    height: 11rem
}

.features .h-48 {
    height: 12rem
}

.features .h-52 {
    height: 13rem
}

.features .h-60 {
    height: 15rem
}

.features .h-64 {
    height: 16rem
}

.features .h-72 {
    height: 18rem
}

.features .h-80 {
    height: 20rem
}

.features .h-96 {
    height: 24rem
}

.features .h-auto {
    height: auto
}

.features .h-1\.5 {
    height: .375rem
}

.features .h-3\.5 {
    height: .875rem
}

.features .h-1\/2 {
    height: 50%
}

.features .h-2\/3 {
    height: 66.666667%
}

.features .h-3\/4 {
    height: 75%
}

.features .h-full {
    height: 100%
}

.features .h-screen {
    height: 100vh
}

.features .w-1 {
    width: .25rem
}

.features .w-2 {
    width: .5rem
}

.features .w-3 {
    width: .75rem
}

.features .w-4 {
    width: 1rem
}

.features .w-5 {
    width: 1.25rem
}

.features .w-6 {
    width: 1.5rem
}

.features .w-8 {
    width: 2rem
}

.features .w-10 {
    width: 2.5rem
}

.features .w-11 {
    width: 2.75rem
}

.features .w-12 {
    width: 3rem
}

.features .w-14 {
    width: 3.5rem
}

.features .w-16 {
    width: 4rem
}

.features .w-20 {
    width: 5rem
}

.features .w-24 {
    width: 6rem
}

.features .w-28 {
    width: 7rem
}

.features .w-32 {
    width: 8rem
}

.features .w-36 {
    width: 9rem
}

.features .w-40 {
    width: 10rem
}

.features .w-44 {
    width: 11rem
}

.features .w-48 {
    width: 12rem
}

.features .w-52 {
    width: 13rem
}

.features .w-56 {
    width: 14rem
}

.features .w-60 {
    width: 15rem
}

.features .w-64 {
    width: 16rem
}

.features .w-72 {
    width: 18rem
}

.features .w-80 {
    width: 20rem
}

.features .w-96 {
    width: 24rem
}

.features .w-auto {
    width: auto
}

.features .w-1\.5 {
    width: .375rem
}

.features .w-3\.5 {
    width: .875rem
}

.features .w-1\/2,
.features .w-2\/4,
.features .w-6\/12 {
    width: 50%
}

.features .w-1\/3,
.features .w-4\/12 {
    width: 33.333333%
}

.features .w-3\/4,
.features .w-9\/12 {
    width: 75%
}

.features .w-3\/5 {
    width: 60%
}

.features .w-4\/5 {
    width: 80%
}

.features .w-3\/12 {
    width: 25%
}

.features .w-5\/12 {
    width: 41.666667%
}

.features .w-7\/12 {
    width: 58.333333%
}

.features .w-8\/12 {
    width: 66.666667%
}

.features .w-10\/12 {
    width: 83.333333%
}

.features .w-11\/12 {
    width: 91.666667%
}

.features .w-full {
    width: 100%
}

.features .w-screen {
    width: 100vw
}

.features .w-max {
    width: max-content
}

.features .min-w-max {
    min-width: max-content
}

.features .max-w-sm {
    max-width: 24rem
}

.features .max-w-lg {
    max-width: 32rem
}

.features .max-w-screen-sm {
    max-width: 640px
}

.features .max-w-screen-lg {
    max-width: 1024px
}

.features .flex-shrink-0 {
    flex-shrink: 0
}

.features .origin-center {
    transform-origin: center
}

.features .transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.features .rotate-180 {
    --tw-rotate: 180deg
}

.features .cursor-pointer {
    cursor: pointer
}

.features .auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr)
}

.features .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.features .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.features .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.features .flex-row {
    flex-direction: row
}

.features .flex-col {
    flex-direction: column
}

.features .flex-col-reverse {
    flex-direction: column-reverse
}

.features .flex-wrap {
    flex-wrap: wrap
}

.features .flex-nowrap {
    flex-wrap: nowrap
}

.features .items-start {
    align-items: flex-start
}

.features .items-end {
    align-items: flex-end
}

.features .items-center {
    align-items: center
}

.features .items-baseline {
    align-items: baseline
}

.features .items-stretch {
    align-items: stretch
}

.features .justify-start {
    justify-content: flex-start
}

.features .justify-end {
    justify-content: flex-end
}

.features .justify-center {
    justify-content: center
}

.features .justify-between {
    justify-content: space-between
}

.features .justify-around {
    justify-content: space-around
}

.features .justify-evenly {
    justify-content: space-evenly
}

.features .justify-items-center {
    justify-items: center
}

.features .gap-4 {
    gap: 1rem
}

.features .gap-6 {
    gap: 1.5rem
}

.features .gap-x-2 {
    column-gap: .5rem
}

.features .gap-y-9 {
    row-gap: 2.25rem
}

.features .self-center {
    align-self: center
}

.features .justify-self-center {
    justify-self: center
}

.features .overflow-auto {
    overflow: auto
}

.features .overflow-hidden {
    overflow: hidden
}

.features .overflow-scroll {
    overflow: scroll
}

.features .overflow-x-auto {
    overflow-x: auto
}

.features .truncate {
    overflow: hidden;
    text-overflow: ellipsis
}

.features .rounded-sm {
    border-radius: .125rem
}

.features .rounded {
    border-radius: .25rem
}

.features .rounded-md {
    border-radius: .375rem
}

.features .rounded-lg {
    border-radius: .5rem
}

.features .rounded-xl {
    border-radius: .75rem
}

.features .rounded-2xl {
    border-radius: 1rem
}

.features .rounded-3xl {
    border-radius: 1.5rem
}

.features .rounded-full {
    border-radius: 9999px
}

.rounded-t-xl {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem
}

.features .rounded-t-2xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.features .rounded-r-md {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem
}

.features .rounded-l-lg {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.features .border-0 {
    border-width: 0
}

.features .border-2 {
    border-width: 2px
}

.features .border {
    border-width: 1px
}

.features .border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity))
}

.features .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.features .object-contain {
    object-fit: contain
}

.features .object-cover {
    object-fit: cover
}

.features .p-0 {
    padding: 0
}

.features .p-1 {
    padding: .25rem
}

.features .p-2 {
    padding: .5rem
}

.features .p-3 {
    padding: .75rem
}

.features .p-4 {
    padding: 1rem
}

.features .p-5 {
    padding: 1.25rem
}

.features .p-6 {
    padding: 1.5rem
}

.features .p-8 {
    padding: 2rem
}

.features .p-10 {
    padding: 2.5rem
}

.features .p-12 {
    padding: 3rem
}

.features .p-20 {
    padding: 5rem
}

.features .p-2\.5 {
    padding: .625rem
}

.features .p-3\.5 {
    padding: .875rem
}

.features .px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.features .px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.features .px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.features .px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.features .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.features .px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.features .px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
}

.features .px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.features .px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.features .px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.features .px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.features .px-24 {
    padding-left: 6rem;
    padding-right: 6rem
}

.features .px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem
}

.features .py-0 {
    padding-top: 0;
    padding-bottom: 0
}

.features .py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.features .py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.features .py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.features .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.features .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.features .py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.features .py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.features .py-11 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem
}

.features .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.features .py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem
}

.features .py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.features .py-1\.5 {
    padding-top: .375rem;
    padding-bottom: .375rem
}

.features .py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem
}

.features .py-3\.5 {
    padding-top: .875rem;
    padding-bottom: .875rem
}

.features .pt-0 {
    padding-top: 0
}

.features .pt-1 {
    padding-top: .25rem
}

.features .pt-2 {
    padding-top: .5rem
}

.features .pt-3 {
    padding-top: .75rem
}

.features .pt-4 {
    padding-top: 1rem
}

.features .pt-5 {
    padding-top: 1.25rem
}

.features .pt-6 {
    padding-top: 1.5rem
}

.features .pt-7 {
    padding-top: 1.75rem
}

.features .pt-8 {
    padding-top: 2rem
}

.features .pt-10 {
    padding-top: 2.5rem
}

.features .pt-11 {
    padding-top: 2.75rem
}

.features .pt-12 {
    padding-top: 3rem
}

.features .pt-14 {
    padding-top: 3.5rem
}

.features .pt-28 {
    padding-top: 7rem
}

.features .pr-0 {
    padding-right: 0
}

.features .pr-2 {
    padding-right: .5rem
}

.features .pr-4 {
    padding-right: 1rem
}

.features .pr-10 {
    padding-right: 2.5rem
}

.features .pr-12 {
    padding-right: 3rem
}

.features .pr-16 {
    padding-right: 4rem
}

.features .pb-0 {
    padding-bottom: 0
}

.features .pb-1 {
    padding-bottom: .25rem
}

.features .pb-3 {
    padding-bottom: .75rem
}

.pb-4 {
    padding-bottom: 1rem
}

.features .pb-5 {
    padding-bottom: 1.25rem
}

.features .pb-6 {
    padding-bottom: 1.5rem
}

.features .pb-7 {
    padding-bottom: 1.75rem
}

.features .pb-8 {
    padding-bottom: 2rem
}

.features .pb-10 {
    padding-bottom: 2.5rem
}

.features .pb-12 {
    padding-bottom: 3rem
}

.features .pb-14 {
    padding-bottom: 3.5rem
}

.features .pb-16 {
    padding-bottom: 4rem
}

.features .pb-20 {
    padding-bottom: 5rem
}

.features .pb-24 {
    padding-bottom: 6rem
}

.features .pb-2\.5 {
    padding-bottom: .625rem
}

.features .pl-0 {
    padding-left: 0
}

.features .pl-2 {
    padding-left: .5rem
}

.features .pl-4 {
    padding-left: 1rem
}

.features .pl-10 {
    padding-left: 2.5rem
}

.features .pl-12 {
    padding-left: 3rem
}

.features .pl-16 {
    padding-left: 4rem
}

.features .text-left {
    text-align: left
}

.features .text-center {
    text-align: center
}

.features .text-right {
    text-align: right
}

.features .text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.features .text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.features .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.features .font-normal {
    font-weight: 400
}

.features .font-medium {
    font-weight: 500
}

.features .font-semibold {
    font-weight: 600
}

.features .font-bold {
    font-weight: 700
}

.features .font-extrabold {
    font-weight: 800
}

.features .italic {
    font-style: italic
}

.features .leading-4 {
    line-height: 1rem
}

.features .leading-5 {
    line-height: 1.25rem
}

.features .leading-6 {
    line-height: 1.5rem
}

.features .leading-8 {
    line-height: 2rem
}

.features .leading-none {
    line-height: 1
}

.features .text-black {
    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.features .text-white {
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.features .text-gray-500 {
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.features .text-gray-900 {
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}

.features .underline {
    text-decoration: underline
}

.features .no-underline {
    text-decoration: none
}

.features .shadow-none {
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.features .outline-none {
    outline: transparent solid 2px;
    outline-offset: 2px
}

@media (min-width:768px) {
    .features .md\:absolute {
        position: absolute
    }

    .features .md\:right-0 {
        right: 0
    }

    .features .md\:mt-0 {
        margin-top: 0
    }

    .features .md\:ml-4 {
        margin-left: 1rem
    }

    .features .md\:h-9 {
        height: 2.25rem
    }

    .features .md\:h-12 {
        height: 3rem
    }

    .features .md\:w-9 {
        width: 2.25rem
    }

    .features .md\:w-12 {
        width: 3rem
    }

    .features .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .features .md\:justify-center {
        justify-content: center
    }

    .features .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .features .md\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem
    }
}

@media (min-width:1024px) {
    .features .lg\:static {
        position: static
    }

    .features .lg\:inset-auto {
        top: auto;
        right: auto;
        bottom: auto;
        left: auto
    }

    .features .lg\:top-10 {
        top: 2.5rem
    }

    .features .lg\:top-20 {
        top: 5rem
    }

    .features .lg\:top-1\/4 {
        top: 25%
    }

    .features .lg\:right-10 {
        right: 2.5rem
    }

    .features .lg\:left-1\/4 {
        left: 25%
    }

    .features .lg\:m-auto {
        margin: auto
    }

    .features .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .features .lg\:mx-auto {
        margin-left: auto;
        margin-right: auto
    }

    .features .lg\:my-4 {
        margin-top: 1rem;
        margin-bottom: 1rem
    }

    .features .lg\:mt-0 {
        margin-top: 0
    }

    .features .lg\:mt-4 {
        margin-top: 1rem
    }

    .features .lg\:mt-5 {
        margin-top: 1.25rem
    }

    .lg\:mt-6 {
        margin-top: 1.5rem
    }

   .features .lg\:mt-8 {
        margin-top: 2rem
    }

   .features .lg\:mt-10 {
        margin-top: 2.5rem
    }

   .features .lg\:mt-12 {
        margin-top: 3rem
    }

   .features .lg\:mt-14 {
        margin-top: 3.5rem
    }

   .features .lg\:mt-16 {
        margin-top: 4rem
    }

   .features .lg\:mt-20 {
        margin-top: 5rem
    }

   .features .lg\:mt-24 {
        margin-top: 6rem
    }

   .features .lg\:mt-32 {
        margin-top: 8rem
    }

   .features .lg\:mt-40 {
        margin-top: 10rem
    }

   .features .lg\:mr-6 {
        margin-right: 1.5rem
    }

   .features .lg\:mr-8 {
        margin-right: 2rem
    }

   .features .lg\:mr-10 {
        margin-right: 2.5rem
    }

   .features .lg\:mb-0 {
        margin-bottom: 0
    }

   .features .lg\:mb-1 {
        margin-bottom: .25rem
    }

   .features .lg\:mb-2 {
        margin-bottom: .5rem
    }

   .features .lg\:mb-4 {
        margin-bottom: 1rem
    }

   .features .lg\:mb-6 {
        margin-bottom: 1.5rem
    }

   .features .lg\:mb-8 {
        margin-bottom: 2rem
    }

   .features .lg\:mb-10 {
        margin-bottom: 2.5rem
    }

   .features .lg\:mb-16 {
        margin-bottom: 4rem
    }

   .features .lg\:mb-20 {
        margin-bottom: 5rem
    }

   .features .lg\:mb-24 {
        margin-bottom: 6rem
    }

   .features .lg\:mb-28 {
        margin-bottom: 7rem
    }

   .features .lg\:mb-32 {
        margin-bottom: 8rem
    }

   .features .lg\:-mb-1\.5 {
        margin-bottom: -.375rem
    }

   .features .lg\:ml-0 {
        margin-left: 0
    }

   .features .lg\:ml-2 {
        margin-left: .5rem
    }

   .features .lg\:ml-4 {
        margin-left: 1rem
    }

   .features .lg\:ml-7 {
        margin-left: 1.75rem
    }

   .features .lg\:ml-10 {
        margin-left: 2.5rem
    }

   .features .lg\:block {
        display: block
    }

   .features .lg\:inline {
        display: inline
    }

   .features .lg\:flex {
        display: flex
    }

   .features .lg\:grid {
        display: grid
    }

   .features .lg\:hidden {
        display: none
    }

   .features .lg\:h-10 {
        height: 2.5rem
    }

   .features .lg\:h-12 {
        height: 3rem
    }

   .features .lg\:h-16 {
        height: 4rem
    }

   .features .lg\:h-20 {
        height: 5rem
    }

   .features .lg\:h-80 {
        height: 20rem
    }

   .features .lg\:h-96 {
        height: 24rem
    }

   .features .lg\:h-auto {
        height: auto
    }

   .features .lg\:h-full {
        height: 100%
    }

   .features .lg\:h-screen {
        height: 100vh
    }

   .features .lg\:w-4 {
        width: 1rem
    }

   .features .lg\:w-8 {
        width: 2rem
    }

   .features .lg\:w-12 {
        width: 3rem
    }

   .features .lg\:w-16 {
        width: 4rem
    }

   .features .lg\:w-20 {
        width: 5rem
    }

   .features .lg\:w-24 {
        width: 6rem
    }

   .features .lg\:w-28 {
        width: 7rem
    }

   .features .lg\:w-32 {
        width: 8rem
    }

   .features .lg\:w-36 {
        width: 9rem
    }

   .features .lg\:w-40 {
        width: 10rem
    }

   .features .lg\:w-44 {
        width: 11rem
    }

   .features .lg\:w-48 {
        width: 12rem
    }

   .features .lg\:w-52 {
        width: 13rem
    }

   .features .lg\:w-56 {
        width: 14rem
    }

   .features .lg\:w-60 {
        width: 15rem
    }

   .features .lg\:w-64 {
        width: 16rem
    }

   .features .lg\:w-80 {
        width: 20rem
    }

   .features .lg\:w-96 {
        width: 24rem
    }

   .features .lg\:w-1\/2,
   .features .lg\:w-6\/12 {
        width: 50%
    }

   .features .lg\:w-1\/3 {
        width: 33.333333%
    }

   .features .lg\:w-1\/4,
   .features .lg\:w-3\/12 {
        width: 25%
    }

   .features .lg\:w-3\/4,
   .features .lg\:w-9\/12 {
        width: 75%
    }

   .features .lg\:w-3\/5 {
        width: 60%
    }

   .features .lg\:w-4\/5 {
        width: 80%
    }

   .features .lg\:w-5\/12 {
        width: 41.666667%
    }

   .features .lg\:w-7\/12 {
        width: 58.333333%
    }

   .features .lg\:w-8\/12 {
        width: 66.666667%
    }

   .features .lg\:w-11\/12 {
        width: 91.666667%
    }

   .features .lg\:w-full {
        width: 100%
    }

   .features .lg\:max-w-5xl {
        max-width: 64rem
    }

   .features .lg\:max-w-max {
        max-width: max-content
    }

   .features .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

   .features .lg\:flex-row {
        flex-direction: row
    }

   .features .lg\:flex-row-reverse {
        flex-direction: row-reverse
    }

   .features .lg\:flex-col {
        flex-direction: column
    }

   .features .lg\:items-start {
        align-items: flex-start
    }

   .features .lg\:items-center {
        align-items: center
    }

   .features .lg\:items-stretch {
        align-items: stretch
    }

   .features .lg\:justify-start {
        justify-content: flex-start
    }

   .features .lg\:justify-end {
        justify-content: flex-end
    }

   .features .lg\:justify-center {
        justify-content: center
    }

   .features .lg\:justify-between {
        justify-content: space-between
    }

   .features .lg\:justify-around {
        justify-content: space-around
    }

   .features .lg\:gap-8 {
        gap: 2rem
    }

   .features .lg\:overflow-hidden {
        overflow: hidden
    }

   .features .lg\:rounded-l-none {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

   .features .lg\:bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
    }

   .features .lg\:p-0 {
        padding: 0
    }

   .features .lg\:p-3 {
        padding: .75rem
    }

   .features .lg\:p-4 {
        padding: 1rem
    }

   .features .lg\:p-5 {
        padding: 1.25rem
    }

   .features .lg\:p-12 {
        padding: 3rem
    }

   .features .lg\:p-24 {
        padding: 6rem
    }

   .features .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

   .features .lg\:px-3 {
        padding-left: .75rem;
        padding-right: .75rem
    }

   .features .lg\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }

   .features .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

   .features .lg\:px-14 {
        padding-left: 3.5rem;
        padding-right: 3.5rem
    }

   .features .lg\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }

   .features .lg\:px-36 {
        padding-left: 9rem;
        padding-right: 9rem
    }

   .features .lg\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem
    }

   .features .lg\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

   .features .lg\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }

   .features .lg\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

   .features .lg\:py-12 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

   .features .lg\:py-14 {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem
    }

   .features .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

   .features .lg\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

   .features .lg\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

   .features .lg\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem
    }

   .features .lg\:pt-6 {
        padding-top: 1.5rem
    }

   .features .lg\:pt-16 {
        padding-top: 4rem
    }

   .features .lg\:pt-20 {
        padding-top: 5rem
    }

   .features .lg\:pt-24 {
        padding-top: 6rem
    }

   .features .lg\:pt-28 {
        padding-top: 7rem
    }

   .features .lg\:pr-12 {
        padding-right: 3rem
    }

   .features .lg\:pb-0 {
        padding-bottom: 0
    }

   .features .lg\:pb-4 {
        padding-bottom: 1rem
    }

   .features .lg\:pb-8 {
        padding-bottom: 2rem
    }

   .features .lg\:pb-10 {
        padding-bottom: 2.5rem
    }

   .features .lg\:pb-20 {
        padding-bottom: 5rem
    }

   .features .lg\:pb-24 {
        padding-bottom: 6rem
    }

   .features .lg\:pl-8 {
        padding-left: 2rem
    }

   .features .lg\:pl-12 {
        padding-left: 3rem
    }

   .features .lg\:text-left {
        text-align: left
    }

   .features .lg\:text-center {
        text-align: center
    }

   .features .lg\:font-normal {
        font-weight: 400
    }
}


/* features page ends here */