input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield;
    outline: 0;
    border: 1px solid #fff
}

.footer-heading,
.footer-sub {
    line-height: 14px;
    font-weight: 400
}

.footer-border,
.tm-common-border-grey-top {
    border-top: 1px solid #eaeaea
}

.footer-border,
.footer-sub-border,
.tm-common-border-grey-bottom,
.tm-tfi-border-grey-bottom {
    border-bottom: 1px solid #eaeaea
}

.tm-common-max-width {
    width: 90%;
    margin: auto;
    max-width: 1140px
}

.bg-clr {
    background-color: #f9fafb
}

.footer-heading {
    color: #5e5e5e;
    font-size: 14px
}

.footer-sub {
    color: #000 !important;
    font-size: 12px;
    padding: 1rem 0;
    width: 180px
}

.nav-dp-sub,
.nav-dp-title {
    line-height: 1rem;
    font-weight: 500
}

.footer-width {
    width: calc(100% - 22.5rem)
}

.bg-blur-navbar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
    -webkit-transition: .5s;
    overflow: auto;
    transition: .3s linear
}

@keyframes growDown {
    0% {
        opacity: 0;
        transform: translateY(-60px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.nav-dropdown {
    background-color: #fff;
    padding: 2.7rem;
    opacity: 10;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ececec;
    animation: .3s ease-in-out growDown
}

.nav-dropdown-tile {
    width: 300px;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer
}

.mweb-dropdown-btn-cont {
    box-shadow: 0 6px 12px 0 rgba(157, 182, 217, .2)
}

.nav-dropdown-button {
    width: 8.4rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 1.5rem 0
}

.blue-btn {
    color: #fff;
    background-color: #1da1f2
}

.as-nav-bg,
.as-nav-hover:hover {
    background-color: #f5eeff
}

.lm-nav-bg,
.lm-nav-hover:hover {
    background-color: #fffaeb
}

.dc-nav-bg,
.dc-nav-hover:hover {
    background-color: #fff3f7
}

.am-nav-bg,
.am-nav-hover:hover {
    background-color: rgba(255, 138, 138, .1)
}

.si-nav-bg,
.si-nav-hover:hover {
    background-color: #eefdff
}

.fn-nav-bg,
.fn-nav-hover:hover {
    background-color: rgba(95, 189, 138, .1)
}

.nav-dp-title {
    font-size: 14px;
    color: #000
}

.nav-dp-sub {
    margin-top: 4px;
    font-size: 12px;
    color: #8d8d8d
}

.nav-dropdown-tile img {
    width: 3rem;
    height: 3rem;
    padding: 10px;
    border-radius: 50%;
    margin-right: .6rem
}

.inst-frm-mdal {
    width: 547px
}

.inst-form-modal-body {
    width: 831px;
    height: 542px;
    opacity: 1 !important;
    background-color: #fff
}

.phone-modal-field,
.tm-tfi-input-field {
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
    outline: 0;
    padding: 16px;
    width: 100%;
    font-weight: 400;
    box-shadow: 0 2px 4px rgba(157, 182, 217, .2)
}

.tm-lead-select-wrapper-shadow {
    box-shadow: 0 2px 4px rgba(157, 182, 217, .2)
}

.tm-tfi-input-field {
    color: #000
}

.phone-modal-field {
    color: #1f3965
}

.institute-form-field-border {
    border: 1px solid #dedede;
    box-shadow: none !important
}

.tm-tfi-label1 {
    font-size: 10px;
    line-height: 13px;
    color: #9aa6bc;
    font-weight: 400
}

.tm-tfi-red-color {
    color: #ff5e5e !important
}

.tm-tfi-button2 {
    font-weight: 600;
    cursor: pointer;
    border-width: 0;
    background-color: #1da1f2;
    font-size: 16px;
    color: #fff;
    padding: 10px 67px;
    border-radius: 44px;
    text-align: center
}

.anil-feedback-bg-img,
.anil-feedback-bg-img-international {
    background-image: url("../../images/new-landing/circle-2.svg");
    background-repeat: no-repeat
}

.anil-feedback-bg-img-international {
    background-position: 60 -60px;
    background-size: 420px 320px
}

.anil-feedback-bg-img {
    background-position: 0 -40px;
    background-size: 320px 320px
}

.tm-bgcr-bl-lead-modal-img {
    background-color: #f0f6ff
}

.tm-faq-bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.tm-feature-rotate-45 {
    transform: rotate(45deg)
}

.faq-para {
    color: #4d4d4d
}

@media only screen and (max-width:1024px) {
    .tm-common-max-width {
        width: 84%;
        max-width: 1140px
    }

    .tm-tfi-label1 {
        font-size: 12px;
        line-height: 17px
    }

    .inst-frm-mdal {
        width: 100%
    }

    .inst-form-modal-body {
        width: calc(100% - 40px);
        margin: 50px 20px 100px;
        opacity: 1 !important;
        overflow: auto;
        background-color: #f9fafb
    }

    .tm-tfi-input-field {
        height: 50px !important;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 16px !important
    }

    .phone-modal-field {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 16px !important
    }

    .tm-tfi-button2 {
        font-size: 16px;
        padding: 12px 72px;
        border-radius: 44px
    }
}

/* feature page starts here */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield;
    outline: 0;
    border: 1px solid #fff
}

.footer-heading,
.footer-sub {
    line-height: 14px;
    font-weight: 400
}

.footer-border,
.tm-common-border-grey-top {
    border-top: 1px solid #eaeaea
}

.footer-border,
.footer-sub-border,
.tm-common-border-grey-bottom,
.tm-tfi-border-grey-bottom {
    border-bottom: 1px solid #eaeaea
}

.tm-common-max-width {
    width: 90%;
    margin: auto;
    max-width: 1140px
}

.bg-clr {
    background-color: #f9fafb
}

.footer-heading {
    color: #5e5e5e;
    font-size: 14px
}

.footer-sub {
    color: #000 !important;
    font-size: 12px;
    padding: 1rem 0;
    width: 180px
}

.nav-dp-sub,
.nav-dp-title {
    line-height: 1rem;
    font-weight: 500
}

.footer-width {
    width: calc(100% - 22.5rem)
}

.bg-blur-navbar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
    -webkit-transition: .5s;
    overflow: auto;
    transition: .3s linear
}

@keyframes growDown {
    0% {
        opacity: 0;
        transform: translateY(-60px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.nav-dropdown {
    background-color: #fff;
    padding: 2.7rem;
    opacity: 10;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ececec;
    animation: .3s ease-in-out growDown
}

.nav-dropdown-tile {
    width: 300px;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer
}

.mweb-dropdown-btn-cont {
    box-shadow: 0 6px 12px 0 rgba(157, 182, 217, .2)
}

.nav-dropdown-button {
    width: 8.4rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 1.5rem 0
}

.blue-btn {
    color: #fff;
    background-color: #1da1f2
}

.as-nav-bg,
.as-nav-hover:hover {
    background-color: #f5eeff
}

.lm-nav-bg,
.lm-nav-hover:hover {
    background-color: #fffaeb
}

.dc-nav-bg,
.dc-nav-hover:hover {
    background-color: #fff3f7
}

.am-nav-bg,
.am-nav-hover:hover {
    background-color: rgba(255, 138, 138, .1)
}

.si-nav-bg,
.si-nav-hover:hover {
    background-color: #eefdff
}

.fn-nav-bg,
.fn-nav-hover:hover {
    background-color: rgba(95, 189, 138, .1)
}

.nav-dp-title {
    font-size: 14px;
    color: #000
}

.nav-dp-sub {
    margin-top: 4px;
    font-size: 12px;
    color: #8d8d8d
}

.nav-dropdown-tile img {
    width: 3rem;
    height: 3rem;
    padding: 10px;
    border-radius: 50%;
    margin-right: .6rem
}

.inst-frm-mdal {
    width: 547px
}

.inst-form-modal-body {
    width: 831px;
    height: 542px;
    opacity: 1 !important;
    background-color: #fff
}

.phone-modal-field,
.tm-tfi-input-field {
    font-size: 14px;
    line-height: 18px;
    border-radius: 10px;
    outline: 0;
    padding: 16px;
    width: 100%;
    font-weight: 400;
    box-shadow: 0 2px 4px rgba(157, 182, 217, .2)
}

.tm-lead-select-wrapper-shadow {
    box-shadow: 0 2px 4px rgba(157, 182, 217, .2)
}

.tm-tfi-input-field {
    color: #000
}

.phone-modal-field {
    color: #1f3965
}

.institute-form-field-border {
    border: 1px solid #dedede;
    box-shadow: none !important
}

.tm-tfi-label1 {
    font-size: 10px;
    line-height: 13px;
    color: #9aa6bc;
    font-weight: 400
}

.tm-tfi-red-color {
    color: #ff5e5e !important
}

.tm-tfi-button2 {
    font-weight: 600;
    cursor: pointer;
    border-width: 0;
    background-color: #1da1f2;
    font-size: 16px;
    color: #fff;
    padding: 10px 67px;
    border-radius: 44px;
    text-align: center
}

.anil-feedback-bg-img,
.anil-feedback-bg-img-international {
    background-image: url("../../images/new-landing/circle-2.svg");
    background-repeat: no-repeat
}

.anil-feedback-bg-img-international {
    background-position: 60 -60px;
    background-size: 420px 320px
}

.anil-feedback-bg-img {
    background-position: 0 -40px;
    background-size: 320px 320px
}

.tm-bgcr-bl-lead-modal-img {
    background-color: #f0f6ff
}

.tm-faq-bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.tm-feature-rotate-45 {
    transform: rotate(45deg)
}

.faq-para {
    color: #4d4d4d
}


@media only screen and (max-width:1024px) {
    .tm-common-max-width {
        width: 84%;
        max-width: 1140px
    }

    .tm-tfi-label1 {
        font-size: 12px;
        line-height: 17px
    }

    .inst-frm-mdal {
        width: 100%
    }

    .inst-form-modal-body {
        width: calc(100% - 40px);
        margin: 50px 20px 100px;
        opacity: 1 !important;
        overflow: auto;
        background-color: #f9fafb
    }

    .tm-tfi-input-field {
        height: 50px !important;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 16px !important
    }

    .phone-modal-field {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 16px !important
    }

    .tm-tfi-button2 {
        font-size: 16px;
        padding: 12px 72px;
        border-radius: 44px
    }
}


/* feature page ends here */